.confirm-button {
	position: relative;
	vertical-align: bottom;
	bottom: 10px;
	right: 10px;
	border: none;
	width: 36px;
	height: 90px;
	background: rgba(0, 0, 0, 0);
	background-image: url(tick.png);
	background-repeat: no-repeat;
	background-position: bottom;
}

.input-content {
	background: rgb(112, 112, 112);
	border: none;
	border-radius: 25px;
	width: 80%;
	height: 100%;
	margin: auto;
}

#inputGearContent{
	margin-top: 3.5rem;
}

.input-content-active {
	background: rgba(0, 0, 0, 0);
}

input[type="text"].input-area {
	width: 78%;
	padding: 10px 10px 55px 10px;
	overflow: visible;
}

textarea.input-area {
	height: 3.6em;
	width: 78%;
	padding: 10px 10px 55px 10px;
}

.input-area {
	position: relative;
	background: rgb(112, 112, 112);
	color: white;
	width: 100%;
	border-radius: 25px;
	border: none;
	resize: none;
	word-break: break-all;
	word-wrap: break-word;	
	text-align: left;
}

.input-area-active {
	background: rgba(0, 0, 0, 0);
	border-radius: 0px;
	width: 55%;
	top: 30px;
	left: 80px;
	padding-right: 80px;
	position: absolute;
	overflow: hidden;
}

input[type="text"].input-area-active {
	padding: 0px;
	word-wrap: normal;
	word-break: normal;
}

textarea.input-area-active {
	height: 1.12em;
	padding: 10px;
}