.confirm-button {
	position: relative;
	vertical-align: bottom;
	bottom: 10px;
	right: 10px;
	border: none;
	width: 36px;
	height: 90px;
	background: rgba(0, 0, 0, 0) url(tick.png) no-repeat bottom;
}

.input-content {
	background: rgba(250,250,250,.15);
	border: none;
	border-radius: 25px;
	width: 80%;
	height: 100%;
	margin: auto;
}



input[type="text"].input-area {
	background: rgba(0,0,0,0);
	width: 87%;
	height: 50%;
	padding: 10px 10px 55px 10px;
	overflow: visible;
}

textarea.input-area {
	height: 50%;
	width: 87%;
	padding: 10px 10px 55px 10px;
}

.input-area {
	position: relative;
	background: rgba(0,0,0,0);
	color: white;
	width: 100%;
	border-radius: 25px;
	border: none;
	resize: none;
	word-break: break-all;
	word-wrap: break-word;
	text-align: left;
}

#inputGearPage{
	overflow-y: hidden;
}

.input-area-active {
	border-radius: 0;
	width: 55%;
	top: 50px;
	left: 40px;
	padding-right: 80px;
	position: absolute;
	overflow: hidden;
}

input[type="text"].input-area-active {
	padding: 20px;
	width: 78%;
	height: 50%;
	word-wrap: normal;
	word-break: normal;
	background: rgba(250,250,250,.15);
}

textarea.input-area-active {
	height: 50%;
	padding: 10px;
}