.confirm-button{
	background-image: url(tick.png);
	background-repeat: no-repeat;
	background-position: center;
	/*margin-right: 45px;*/
	background-size: 30px 30px;
	background-color: rgba(23, 73, 115, 1);
	border-radius: 10px;
	border: 2px solid #464646;
	/*padding: 20px;*/
	height: 40px;
	width: 15%;
	position: absolute;
	bottom: 0px;
	right: 0px;
	display: none;
}


.confirm-button-footer{
	background-image: url(tick.png);
	background-repeat: no-repeat;
	background-position: center;
}


.input-content{
	height: 100%;
	width: 100%;
	overflow: hidden;
	background: black;
}

#confirmFooter{
	position: relative; 
	bottom: -28px;
}

textarea.input-area{
	height: 100%;
}

input[type="text"].input-area{
	 padding: 0px 0px 360px 0;
}


.input-area{
	position: relative;
	background: black;
	color: white;
	width: 100%;
	/*padding: 10px;*/
	border: none;
	resize: none;
	text-align: left;
	word-wrap: break-word;
    word-break: break-all;
}

input[type="text"].input-area-active{
	width: 85%;
	padding: 0 0 90px 0;
}

textarea.input-area-active{
	width: 85%;
	overflow: hidden;
}

